{% extends "base.html" %}

{% block title %}
	{{ car }}
{% endblock %}

{% block content %}
	<p>To jest samochód {{ car_advert }}</p>
	{% if car_advert.owner == request.user %}
		<p>Observers: {{ car_advert.observers }} </p>
	{% endif %}
	<p>Data opublikowania: {{ car_advert.publish }}</p>
	
	{% if car.owner != request.user %}
		{% if request.user not in car.users_observing.all %}
			<a href="{% url 'car_auctions:car_advert_observe' pk=car_advert.pk %}"><button class="save btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add car do observed</button></a>
		{% else %}
			<a href="{% url 'car_auctions:car_advert_observe' pk=car_advert.pk %}"><button class="save btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Remove car from observed</button></a>
		{% endif %}
	{% endif %}

	{% if car_advert.owner == request.user %}
		<a href='{% url "car_auctions:car_advert_edit" pk=car_advert.pk %}'><button class="save btn bg-yellow-500 hover:yellow text-white font-bold py-2 px-4 rounded">Edit car</button></a>
		{% if car_advert.update %}
			<p>Zaktualizowano {{ car_advert.update }}</p>
		{% endif %}
	{% endif %}
	{% if car_advert.owner == request.user%}
		{% if car_advert.update %}
			<p>Ważność ogłoszenia {{ car_advert.valid }}</p>
		{% endif %}
	{% endif %}

	<p>CARS PHOTOS</p>
	<p> car images: {{ car_images}}</p>
<!--	{% if car_images %}-->
<!--		wyświetlanie obrazów z poziomu modelu CarImage-->
<!--		{% for car_image in car_images %}-->
<!--			<p>{{ car_image.image.url }}</p>-->
<!--			<p>{{ car_image.image.get_image }}</p>-->
<!--			<img src = "{{ car_advert_image.get_image }}" width="500px" height="500px" alt="img">-->
<!--		{% endfor %}-->
		wyświetlanie obrazków w poziomu modelu CarAdvert
		{% for car_image_2 in car_advert.get_all_images %}
			<p><img src = "{{ car_image_2.get_image }}" width="500px" height="500px" alt="img"></p>
			<p>{{ car_image_2.get_image }}</p>
		{% endfor %}
	{% else %}
		<p>No cars images here from CarImage class</p>
	{% endif %}

	{% if request.user == car_advert.owner %}
		<a href="{% url 'cars:car_advert_delete' pk=car_advert.pk %}" class="save btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">DELETE CAR</a>
	{% endif %}
	<p class="rounded-md bg-white w-1/3">{{ car_advert.description }}</p>
	<p>Więcej treści już w krótce.</p>
	{% include 'maps/map_main.html' %}
{% endblock %}