{% extends "base.html" %}

{% block title %}
My auction service
{% endblock %}

{% block content %}
    <h1>Recently Viewed Adverts</h1>
    {% if adverts %}
        <ul>
            {% for advert in adverts %}
                <li>
                    <p>{{ advert }}</p>
                    <h3>{{ advert.brand }} {{ advert.model }} ({{ advert.year }})</h3>
                    {% if advert.description %}
                        <p>{{ advert.description }}</p>
                    {% endif %}
                    {% if advert.price %}
                        <p>Price: {{ advert.price }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recently viewed adverts.</p>
    {% endif %}
{% endblock %}