{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Cars auction service{% endblock %}</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-teal-600">
	
	{% include 'navbar.html' %}

	
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
	
	<div id="sidebar">
	<h2>Car auction service (bar)</h2>
		<p>Welcome to car auction service</p>
	</div>
	
	{% include 'footer.html' %}
</body>
</html>