<nav class="flex times-center justify-between px-4 px-6 bg-teal-800">
	<div>
		<a href="/cars" class="text-xl text-white">Car Auction</a>
	</div>
	
	<div class="flex items-center space-x-4">
		{% if user.is_authenticated %}
			<a href = "{% url 'cars:dashboard' %}" class="text-white hover:text-gray-400">Dashboard</a>
			<a href = "{% url 'users:password_change' %}" class="text-white hover:text-gray-400">Change password</a>
			<p><a href="{% url 'users:user_settings' %}" class="text-white hover:text-gray-400">Hello {{ user.username }}</a>
			<a href = "{% url 'users:logout' %}" class="text-white hover:text-gray-400">Logout</a></p>
		{% else %}
			<p>You are not logged in <a href="{% url 'users:login' %}" class="text-white hover:text-gray-400">Log In</a></p>
			<p>|</p>
			<p><a href="{% url 'users:register' %}" class="text-white hover:text-gray-400">Register</a></p>
		{% endif %}
		{% block content %}
		{% endblock %}
	</div>
</nav>
