{% load crispy_forms_tags %}

<div class="car_filter_form">
	<h2>Search car</h2>
	<form method="GET">
		{% csrf_token %}
		<divs class="row">
			<div class="form-group col-md-5 mb-2">
				<p> Brand contains 22 {{ cars.form.brand|as_crispy_field }}</p>
			</div>
			<div class="form-group col-md-5 mb-0">
				<p> Model contains  22 {{ cars.form.model|as_crispy_field  }}</p>
			</div>
		</divs>
		<p> City contains 22 {{ cars.form.location|as_crispy_field  }}</p>
		
		<button type="submit">Search</button>
	</form>
</div>
