{% load crispy_forms_tags %}

<div class="car_filter_form">
	<h2>Search car</h2>
	<form method="GET">
		{% csrf_token %}
		<div class="row">
			<div class="form-group col-md-5 mb-2">
				<p>{{ cars.form.brand|as_crispy_field }}</p>
			</div>
			<div class="form-group col-md-5 mb-0">
				<p>{{ cars.form.model|as_crispy_field  }}</p>
			</div>
			<div class="form-group col-md-5 mb-0">
				<p>{{ cars.form.price|as_crispy_field  }}</p>
			</div>
			<div class="form-group col-md-5 mb-0">
				<p>{{ cars.form.location|as_crispy_field  }}</p>
			</div>
		</div>
		<button type="submit">Search</button>
		<button type="reset" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded">Reset</button>
	</form>
</div>
