{% extends "base.html" %}

{% block title %}
	{{ car }}
{% endblock %}

{% block content %}
	<p>To jest samochód {{ car }}</p>

	<p>Data opublikowania: {{ car.publish }}</p>

	{% if car.photo %}
		<img src = "{{ car.get_image}}" width="500px" height="500px" alt="img">
		<p> {{ car.photo }}</p>
		<p> {{ car.photo.url }}</p>
	{% else %}
		<p>No car picture 2</p>
	{% endif %}
	<a class="btn btn-danger" href="{% url 'cars:car_delete' pk=car.pk %}">DELETE</a>

	<p>Więcej treści już w krótce.</p>

{% endblock %}