{% extends "base.html" %}

{% block title %}
	{{ car }}
{% endblock %}

{% block content %}
	<p>To jest samochód {{ car }}</p>
	
	{% if car.photo %}
		<img src = "{{ car.photo}}" width="500px" height="500px" alt="img">
	{% else %}
		<p>No car picture</p>
	{% endif %}

	{% if car.photo %}
		<img src = "{{ car.photo.url }}" width="500px" height="500px" alt="img">
		<p> {{ car.photo }}</p>
		<p> {{ car.photo.url }}</p>
	{% else %}
		<p>No car picture</p>
	{% endif %}

	{% if car.photo %}
		<img src = "{{ car.get_image}}" width="500px" height="500px" alt="img">
	{% else %}
		<p>No car picture 2</p>
	{% endif %}

	<p>Więcej treści już w krótce.</p>

{% endblock %}