{% block content %}
			{% for car in cars.qs %}
				<div class="grid grid-cols-4 gap-1 m-3.5">
					<div>
						<a href='{% url "cars:car_detail" pk=car.pk %}'><img src="{{ car.get_first_image }}" width="250px" height="250px" alt="img"></a>
					</div>
					<div>
						<div class="grid grid-cols-2 gap-2">
							<div>
								<a href='{% url "cars:car_detail" pk=car.pk %}'>{{car.id}} {{ car }}</a>
							</div>
							<div>
								<p>{{ car.year }}</p>
							</div>
							<div>
								<p>{{ car.location }}</p>
							</div>
							<div>
								<p>{{ car.price }}</p>
							</div>
						</div>
					</div>
				</div>
			{% empty %}
				<p> No records in cars.qs</p>
		    {% endfor %}
{% endblock %}
