{% block content %}
			{% for car_advert in car_adverts.qs %}
			<p>car_advert: {{ car_advert }}</p>
			<p>car_advert first image: {{ car_advert.car}}</p>
				<div class="grid grid-cols-4 gap-1 m-3.5">
					<div>
						<a href='{% url "cars:car_advert_detail" pk=car_advert.pk %}'><img src="{{ car_advert.get_first_image }}" width="250px" height="250px" alt="img"></a>
					</div>
					<div>
						<div class="grid grid-cols-2 gap-2">
							<div>
								<a href='{% url "cars:car_advert_detail" pk=car_advert.pk %}'>{{car_advert.id}} {{ car_advert }}</a>
							</div>
							<div>
								<p>{{ car_advert.year }}</p>
							</div>
							<div>
								<p>{{ car_advert.location }}</p>
							</div>
							<div>
								<p>{{ car_advert.price }}</p>
							</div>
						</div>
					</div>
				</div>
			{% empty %}
				<p> No records in cars.qs</p>
		    {% endfor %}
{% endblock %}
